doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title x_posts
  body
    form(method="post", action="/submit")
      input(name="url", id="url", placeholder="enter url")
      button(type="submit") generate image
